<%= form_with model: [@property, @room, booking], id: :booking_form, data: { controller: "form-reload" } do |form| %>
  <%= form_errors booking %>

  <div>
    <%= form.label :starts_at %>
    <%= form.date_field :starts_at, required: true, value: booking.starts_at || params[:day], data: { action: "change->form-reload#trigger" } %>
  </div>

  <div>
    <%= form.label :ends_at %>
    <%= form.date_field :ends_at, min: (params[:day].presence || booking.starts_at)&.to_date&.+(1.day), required: true, data: { action: "change->form-reload#trigger" } %>
  </div>

  <div>
    <%= form.label :room_id %>
    <% if local_assigns[:available_rooms].present? %>
      <%= form.select :room_id, options_for_select(available_rooms.map { |r| [r.name, r.id] }, booking&.room&.id), { include_blank: t("common.select_room") }, required: true, data: { action: "change->form-reload#trigger" } %> <%# trigger price change %>
    <% else %>
      <%= form.select :room_id, [], { include_blank: t("common.select_dates") }, disabled: true %>
    <% end %>
  </div>

  <div>
    <%= form.label :adults %>
    <%= form.number_field :adults %>
  </div>

  <div>
    <%= form.label :children %>
    <%= form.number_field :children %>
  </div>

  <div>
    <%= form.label :deposit %>
    <%= form.number_field :deposit, step: "0.01", min: 0, placeholder: "0.00", value: number_with_precision(booking&.deposit, precision: 2) %>
  </div>

  <div data-controller="booking-price">
    <%
      room_price = booking&.room&.price
      price_disabled = room_price.present? && (booking.price == room_price)
    %>
    <%= form.label t("common.price_per_night") %>
    <%= form.number_field :price, step: "0.01", min: 0, placeholder: "0.00", value: number_with_precision(booking&.price, precision: 2), disabled: price_disabled, data: { booking_price_target: "price" } %>
    <% if room_price %>
      <label class="m-1">
        <%= check_box_tag :use_room_price, "1", booking.price == room_price, data: { action: "booking-price#checkRoomPrice" } %>
        <%= "#{number_with_precision(room_price, precision: 2)} лв. - #{t("common.room")} #{booking.room.name}" %>
      </label>
      <br>
    <% end %>
  </div>


  <div>
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
