<% content_for :title, t("titles.bookings") %>
<%= render_nav title: I18n.l(@day, format: :long), back_url: "history.back()" do %>
  <li>
    <%= link_to t("buttons.new_booking"), new_property_booking_path(back_to: "history.back()", day: @day), type: "button" %>
  </li>
<% end %>

<% if @bookings.any? %>
  <% @bookings.each do |b| %>
    <div class="bookings-list-item">
      <%= link_to property_booking_path(@property, b) do %>
        <article>
          <% if @day == b.starts_at.to_date %>
            <header class="bookings-check-in">
              <%= icon "sign-in" %>
              <span>
                <%= t("common.check_in") %>
              </span>
            </header>
          <% elsif @day == b.ends_at.to_date %>
            <header class="bookings-check-out">
              <%= icon "sign-out" %>
              <span>
                <%= t("common.check_out") %>
              </span>
            </header>
          <% end %>
          <dl>
            <dt><%= t("common.name") %></dt>
            <dd><%= b.name %></dd>

            <dt><%= t("common.room") %></dt>
            <dd><%= room_badge b.room %></dd>

            <dt><%= t("common.start_date") %></dt>
            <dd><%= I18n.l(b.starts_at.to_date) %></dd>

            <dt><%= t("common.end_date") %></dt>
            <dd><%= I18n.l(b.ends_at.to_date) %></dd>

            <% if b.notes.present? %>
              <dt><%= t("common.notes") %></dt>
              <dd><%= b.notes %></dd>
            <% end %>

            <dt><%= t("common.deposit") %></dt>
            <dd><%= icon b.deposit.present? ? "check-circle-fill" : "x-circle-fill", class: b.deposit.present? ? "icon success" : "icon danger" %></dd>
          </dl>
        </article>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="page">
    <h3><%= t("common.no_bookings") %></h3>
  </div>
<% end %>
