<% content_for :title, "Bookings" %>
<%= render_nav title: "Bookings", back_url: property_path(@property) do %>
  <li>
    <%= link_to "Today", property_bookings_path, type: "button" %>
  </li>
<% end %>

<div data-controller="calendar">
  <div data-calendar-target="weekHeader"></div>
  <ul data-calendar-target="list">
    <% @weeks.each do |week| %>
      <li class="week" data-calendar-target="week" data-week="<%= week[:start_date].to_s %>">
        <ul class="weekdays">
          <% week[:days].each do |day| %>
            <li class="weekday" >
              <%= link_to day_property_bookings_path(@property, day: day[0]), class: "weekday-link", data: { turbo_prefetch: false } do %>
                <div class="date">
                  <span><%= day[0].to_date.strftime("%d") %></span>
                  <span><%= day[0].to_date.strftime("%a") %></span>
                </div>
                <div class="weekday-bookings">
                  <% day[1].each do |booking| %>
                    <%= room_badge booking.room %>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
