<% content_for :title, t("titles.bookings") %>
<%= render_nav title: t("titles.bookings"), back_url: property_path(@property) do %>
  <li>
    <%= link_to t("buttons.today"), property_bookings_path, type: "button" %>
  </li>
<% end %>

<div data-controller="calendar">
  <div data-calendar-target="weekHeader"></div>
  <ul data-calendar-target="list">
    <% @weeks.each do |week| %>
      <li class="week" data-calendar-target="week" data-week="<%= week[:start_date].to_s %>">
        <ul class="weekdays">
          <% week[:days].each do |day| %>
            <li class="weekday" >
              <%= link_to day_property_bookings_path(@property, day: day[0]), class: "weekday-link", data: { turbo_prefetch: false } do %>
                <div class="date">
                  <span><%= I18n.l(day[0].to_date, format: "%d") %></span>
                  <span><%= I18n.t('date.abbr_day_names')[day[0].to_date.wday] %></span>
                </div>
                <div class="weekday-bookings">
                  <div class="flex-container">
                    <% bookings = day[1] %>
                    <% if bookings.any? %>
                      <% @rooms.each do |room| %>
                        <% if booking = bookings.find { |b| b.room.name == room.name } %>
                          <%= room_badge booking.room %>
                        <% else %>
                          <span class="booking-placeholder"></span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
