<% content_for :title, t("titles.bookings") %>
<%= render_nav title: t("titles.bookings"), back_url: property_path(@property) do %>
  <li>
    <%= link_to t("buttons.today"), property_bookings_path, type: "button" %>
  </li>
<% end %>

<div data-controller="horizontal-calendar">
  <div data-horizontal-calendar-target="monthHeader"></div>
  <div class="horizontal-calendar-container">
    <!-- Fixed left column for room numbers -->
    <div class="fixed-room-column">
      <div class="room-header-placeholder"></div>
      <% @rooms.each do |room| %>
        <div class="room-label-fixed" style="background-color: <%= room.color %>">
          <%= room.name %>
        </div>
      <% end %>
    </div>

    <!-- Scrollable calendar area -->
    <div data-horizontal-calendar-target="scrollContainer" class="scrollable-calendar">
      <%= render "calendar_day_headers", days: @days, property: @property %>
      <%= render "calendar_room_rows", rooms: @rooms, days: @days %>
      <%= render "calendar_booking_spans", days: @days, property: @property %>
    </div>
  </div>
</div>
