<% content_for :title, "Booking" %>
<%= render_nav title: "Booking for #{@booking.room.name}", back_url: "history.back()" do %>
  <li>
    <%= link_to "Edit booking", edit_property_booking_path(back_to: "history.back()"), type: "button" %>
  </li>
<% end %>

<div class="bookings-show">
  <dl>
    <dt>Room</dt>
    <dd><%= @booking.room.name %>

    <dt>Starts Date</dt>
    <dd><%= @booking.starts_at.to_date %></dd>

    <dt>Ends Date</dt>
    <dd><%= @booking.ends_at.to_date %></dd>

    <dt>Notes</dt>
    <dd><%= @booking.notes %></dd>

    <dt>Deposit</dt>
    <dd><%= @booking.deposit %></dd>

    <dt>Adults</dt>
    <dd><%= @booking.adults %></dd>

    <dt>Children</dt>
    <dd><%= @booking.children %></dd>
  </dl>
</div>
