<% content_for :title, t("titles.booking") %>
<%= render_nav title: t("common.booking_for", room: @booking.room.name), back_url: "history.back()" do %>
  <li>
    <%= link_to t("buttons.edit_booking"), edit_property_booking_path(back_to: "history.back()"), type: "button" %>
  </li>
<% end %>

<div class="bookings-show">
  <dl>
    <dt><%= t("common.name") %></dt>
    <dd><%= @booking.name %></dd>

    <dt><%= t("common.room") %></dt>
    <dd><%= @booking.room.name %></dd>

    <dt><%= t("common.start_date") %></dt>
    <dd><%= I18n.l(@booking.starts_at.to_date) %></dd>

    <dt><%= t("common.end_date") %></dt>
    <dd><%= I18n.l(@booking.ends_at.to_date) %></dd>

    <dt><%= t("common.nights") %></dt>
    <dd><%= @booking.nights %></dd>

    <dt><%= t("common.notes") %></dt>
    <dd><%= @booking.notes %></dd>

    <dt><%= t("common.adults") %></dt>
    <dd><%= @booking.adults %></dd>

    <dt><%= t("common.deposit") %></dt>
    <dd><%= number_with_precision(@booking.deposit || 0, precision: 2) %> €</dd>

    <dt><%= t("common.price") %></dt>
    <dd><%= number_with_precision(@booking.price || 0, precision: 2) %> € (нощувка)</dd>

    <dt><%= t("common.amount") %></dt>
    <dd>
      <% if @booking.paid? %>
        <s><%= number_with_precision(@booking.amount_due || 0, precision: 2) %> €</s>
        <span class="badge" style="background-color: #4caf50;"><%= t("common.paid") %></span>
      <% else %>
        <%= number_with_precision(@booking.amount_due || 0, precision: 2) %> €
      <% end %>
    </dd>
  </dl>
</div>
