<%= form_with(model: [@property, room]) do |form| %>
  <%= form_errors room %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :capacity %>
    <%= form.number_field :capacity, min: 1 %>
  </div>

  <div>
    <%= form.label :color %>
    <%= form.color_field :color %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
