<div id="<%= dom_id room %>">
  <p>
    <strong><%= t("common.name") %>:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong><%= t("common.capacity") %>:</strong>
    <%= room.capacity %>
  </p>

  <p>
    <strong><%= t("common.color") %>:</strong>
    <%= room.color %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.property.name") %>:</strong>
    <%= room.property_id %>
  </p>

</div>
