<% content_for :title, t("titles.rooms") %>
<%= render_nav title: t("titles.rooms"), back_url: edit_property_path(@property) do %>
  <li>
    <%= link_to t("buttons.new_room"), new_property_room_path(@property), type: "button", class: "primary" %>
  </li>
<% end %>

<% if @rooms.any? %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("common.name") %></th>
        <th scope="col"><%= t("common.capacity") %></th>
        <th scope="col"><%= t("common.price_per_night") %></th>
        <th scope="col"><%= t("common.color") %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <th scope="row"><%= room.name %></th>
          <td><%= room.capacity %></td>
          <td><%= room.price %></td>
          <td><%= room.color %></td>
          <td><%= link_to t("buttons.edit"), edit_property_room_path(@property, room) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3><%= t("common.no_rooms") %></h3>
<% end %>
