<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_property_path(@property) %> |
  <%= link_to "Bookings", property_bookings_path(@property) %>
  <%= link_to "Back to rooms", properties_path(@property) %>

  <%= button_to "Destroy this room", property_path(@property), method: :delete %>
</div>
