<h1><%= t("admin.titles.users") %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("common.id") %></th>
      <th><%= t("common.name") %></th>
      <th><%= t("common.email") %></th>
      <th><%= t("common.first_name") %></th>
      <th><%= t("common.last_name") %></th>
      <th><%= t("common.admin") %></th>
      <th><%= t("common.account") %></th>
      <th><%= t("common.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email_address %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.admin? ? t("admin.messages.yes") : t("admin.messages.no") %></td>
        <td><%= user.account&.name || t("admin.messages.na") %></td>
        <td>
          <%= link_to t("admin.buttons.edit"), edit_admin_user_path(user) %> |
          <%= button_to t("admin.buttons.delete"), admin_user_path(user), method: :delete, data: { turbo_confirm: t("admin.messages.confirm_delete") } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
