<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to t("admin.titles.accounts"), admin_accounts_path %></li>
        <li><%= link_to t("admin.titles.users"), admin_users_path %></li>
        <li><%= link_to t("admin.titles.authorized_users"), admin_authorized_users_path %></li>
      </ul>
    </nav>
    <%= render "layouts/flash" %>
    <br>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
