<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield :nav %>
    <%= render "layouts/flash" %>
    <main class="container-fluid">
      <div class="page">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
