<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield :nav %>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
