<% content_for :title, t("titles.new_account") %>
<%= render_nav title: t("titles.new_account") %>

<%= form_with model: Current.user.account do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.submit t("buttons.create_account") %>
  </div>
<% end %>
